{
  "openapi": "3.1.0",
  "info": {
    "title": "HaqqLine sandbox API",
    "version": "1.0.0",
    "description": "Signed-off sandbox tools for a Dubai rental rights-check agent. Not legal advice. Not a government service. Synthetic Ejari records only.",
    "contact": { "name": "ExcellonIT", "url": "https://excellonit.net" }
  },
  "servers": [
    { "url": "https://haqqline.excellonit.net", "description": "Live sandbox" }
  ],
  "tags": [{ "name": "tools" }, { "name": "system" }],
  "components": {
    "securitySchemes": {
      "sandboxKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Demo key for investors: haqqline_sandbox_preview"
      }
    },
    "schemas": {
      "Disclaimer": {
        "type": "object",
        "required": ["disclaimer"],
        "properties": {
          "disclaimer": { "type": "string" }
        }
      },
      "PackCitation": {
        "type": "object",
        "required": ["pack_id", "pack_version", "citation_id"],
        "properties": {
          "pack_id": { "type": "string", "examples": ["sandbox_decree_43_2013_table_v1"] },
          "pack_version": { "type": "string", "examples": ["1.0.0"] },
          "citation_id": {
            "type": "string",
            "description": "Speak this id when stating a figure (pack_id@version).",
            "examples": ["sandbox_decree_43_2013_table_v1@1.0.0"]
          },
          "source": { "type": "string", "description": "Legacy alias of pack_id" }
        }
      },
      "PolicyDenied": {
        "type": "object",
        "required": ["error", "policy_denied", "reason"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Same as reason (legacy field).",
            "enum": [
              "confirmation_required",
              "tool_not_allowed_for_node",
              "forbidden_credential_field",
              "decide_case_forbidden",
              "invent_index_forbidden",
              "unknown_workflow_node"
            ]
          },
          "policy_denied": { "type": "boolean", "const": true },
          "reason": { "type": "string" },
          "detail": { "type": "string", "nullable": true },
          "tool": { "type": "string" },
          "workflow_node": { "type": "string", "nullable": true }
        }
      }
    }
  },
  "security": [{ "sandboxKey": [] }],
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": ["system"],
        "security": [],
        "summary": "API health",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/v1/audit": {
      "get": {
        "tags": ["system"],
        "summary": "Recent audit entries",
        "responses": {
          "200": { "description": "Tail of the audit log" },
          "401": { "description": "Missing or wrong key" }
        }
      }
    },
    "/api/v1/alerts": {
      "get": {
        "tags": ["system"],
        "summary": "Recent actionable alerts (5xx and tool policy failures)",
        "responses": {
          "200": { "description": "Tail of alerts.jsonl" },
          "401": { "description": "Missing or wrong key" }
        }
      }
    },
    "/api/v1/tools/lookup_rera_band": {
      "post": {
        "tags": ["tools"],
        "summary": "Match a proposed rent to the sandbox Decree 43/2013-style band",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["area", "current_rent", "proposed_rent"],
                "properties": {
                  "area": { "type": "string", "examples": ["jlt"] },
                  "current_rent": { "type": "number" },
                  "proposed_rent": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Band cited from the signed-off pack (includes pack_version and citation_id)"
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Unknown area — escalate; no invented index; still cites pack version when known" }
        }
      }
    },
    "/api/v1/tools/lookup_ejari": {
      "post": {
        "tags": ["tools"],
        "summary": "Look up a synthetic Ejari record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ejari_id"],
                "properties": { "ejari_id": { "type": "string", "examples": ["EJ-1001"] } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "found true or false; never invents a contract" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/tools/submit_to_human_queue": {
      "post": {
        "tags": ["tools"],
        "summary": "Queue a filing for a human. Status is always pending_human. Policy requires caller_confirmed: true.",
        "parameters": [
          {
            "name": "X-HaqqLine-Workflow-Node",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "enum": ["Intake", "RuleMatch", "Filing", "Escalate"] },
            "description": "Optional workflow node. When set, tools outside that node's allowlist are policy_denied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "caller_confirmed": { "type": "boolean" },
                  "packet": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Queued" },
          "400": {
            "description": "policy_denied — confirmation_required",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PolicyDenied" } } }
          },
          "403": {
            "description": "policy_denied — node allowlist or forbidden fields",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PolicyDenied" } } }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/tools/decide_case": {
      "post": {
        "tags": ["tools"],
        "summary": "Not implemented. Always policy_denied (decide_case_forbidden).",
        "responses": {
          "403": {
            "description": "policy_denied — decide_case_forbidden",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PolicyDenied" } } }
          }
        }
      }
    },
    "/api/v1/tools/escalate_human": {
      "post": {
        "tags": ["tools"],
        "summary": "Hand to a human when the pack is silent or advice is requested",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "reason": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Escalated, pending_human" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/cases/{id}": {
      "get": {
        "tags": ["system"],
        "summary": "Fetch a case by id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Case snapshot" },
          "404": { "description": "Unknown case" },
          "401": { "description": "Unauthorized" }
        }
      },
      "patch": {
        "tags": ["system"],
        "summary": "Transition case status (pending_human → in_review → closed|returned)",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["pending_human", "in_review", "closed", "returned"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated case" },
          "409": { "description": "illegal_transition" },
          "404": { "description": "Unknown case" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/cases/{id}/audit": {
      "get": {
        "tags": ["system"],
        "summary": "Audit entries and case events for a case id",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "entries + events" },
          "404": { "description": "Unknown case" },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  }
}
